.board {
    background-color: #0044cc; /* כחול קלאסי */
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}

.board-row {
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
    background-color: #0044cc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white; /* חור ריק */
}

.circle.red { background-color: #ff3333; }
.circle.yellow { background-color: #ffcc00; }

.reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}